{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="image_box">
	<div class="mt50">
		<div class="large_text mt15 mb15">Spotify</div>		
		<div class="mb15">
			<div><b>Song name</b></div>
			<input id="song_name_input" type="text" name="">	
		</div>
		<div class="mb15">
			<div><b>Artist name</b></div>
			<input id="artist_input" type="text" name="">
		</div>		
		<div class="mb15">
			<div><b>Link</b></div>
			<input id="link_input" type="text" name="">	
		</div>		
		<div>
			<button class="btn mt15" onclick="upload_track()">Upload</button>
		</div>	
	</div>
</div>
{% endblock content %}
