{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="dflex bg_blue pd" id="main_info">
	<div class="half_w">
		<h1>My music Blog</h1>
		<h2>
			WIEUfnejwfsdvldknsfdg5548 WIEUfnejwfsdvldknsfdg5548 WIEUfnejwfsdvldknsfdg5548 WIEUfnejwfsdvldknsfdg5548
			WIEUfnejwfsdvldknsfdg5548 WIEUfnejwfsdvldknsfdg5548 WIEUfnejwfsdvldknsfdg5548 WIEUfnejwfsdvldknsfdg5548
			WIEUfnejwfsdvldknsfdg5548 WIEUfnejwfsdvldknsfdg5548 WIEUfnejwfsdvldknsfdg5548 WIEUfnejwfsdvldknsfdg5548
		</h2>
	</div>
	<div class="half_w image_box">
		<img class="small_img" src="{% static 'images/bird.png' %}">		
	</div>		
</div>
<div class="dflex bg_red pd" id="second_info">
	<div class="half_w image_box">
		<img class="small_img" src="{% static 'images/bird.png' %}">		
	</div>		
	<div class="half_w">
		<h1>My music Blog</h1>
		<h2>
			WIEUfnejwfsdvldknsfdg5548 WIEUfnejwfsdvldknsfdg5548 WIEUfnejwfsdvldknsfdg5548 WIEUfnejwfsdvldknsfdg5548
			WIEUfnejwfsdvldknsfdg5548 WIEUfnejwfsdvldknsfdg5548 WIEUfnejwfsdvldknsfdg5548 WIEUfnejwfsdvldknsfdg5548
			WIEUfnejwfsdvldknsfdg5548 WIEUfnejwfsdvldknsfdg5548 WIEUfnejwfsdvldknsfdg5548 WIEUfnejwfsdvldknsfdg5548
		</h2>
	</div>
</div>
<div class="dflex bg_yellow pd" id="third_info">
	<div class="card" >
		<div class="card_img">
			<h1 class="card_hidden_text" style="display: none;">YO</h1>
		</div>
		<div>
			<h2 class="card_header">Popular</h2>
			<h4 class="card_text">jfwjrnk kefnjev kefnkev ekrnjfkjn </h4>
		</div>
	</div>
</div>

<div class="bg_blue pd" id="js_block">
	<button class="btn" onclick="get_data()">Get data</button>
</div>
{% endblock content %}